<launch>
  <arg name="model" default="box"/>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find orne_sim_description)/urdf/orne_$(arg model).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="rate" value="50"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orne_sim_description)/rviz/model.rviz"/>
</launch>